@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 100vw;
    overflow-x:hidden ;
}

.carousal{
    height: 50vh;
}

@font-face {
    font-family: 'sub';
    src: url('./fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-style: bold;
  }
  
  .edit{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }

  .sb{
    align-items: center;
    vertical-align: middle;
  }