@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100vw;
    overflow-x: hidden;
}

.carousal {
    height: 50vh;
}

@font-face {
    font-family: 'sub';
    src: url('./fonts/PlusJakartaSans-Bold.ttf') format('truetype');
    font-style: bold;
}

.edit {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.sb {
    align-items: center;
    vertical-align: middle;
}

.loader-main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 8px solid grey; 
    border-top: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
